body{
    background: linear-gradient(180deg,#153677, #4e4e4e);
    margin: 0;
    height: 100vh;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}

.container{
    background-color: rgb(113, 255, 236);
    width: 400px;
    height: 300px;
    padding-left: 20px ;
}

.title{
    display: flex;
    justify-content: center;
    text-align: center;

}

.inputs input{
    border: 2px solid #000000;
    height: 25px;
    width: 80%;
    border-radius: 5px;
    font-weight: 500;
    font-size: medium;


    
}

.inputs button{
    border: 2px solid #000000;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    height: 30px;
    width: 50px;
    font-size: medium;
    background-color: #000000;
    /* padding-left: 10px; */
    margin-left: 10px;
}

.image{
    padding: 10px;
    width: 50px;
    height: 45px;
}

#outputText li{
    display: flex;
    list-style-type: none;
    padding-bottom: 10px;
    margin: 0px;
    padding-left: 0px;
    list-style-position: outside;
}

#outputText img{
    width: 20px;
    /* margin-top: 10px; */
    margin-right: 10px;
    vertical-align:bottom; 
}

#deletebin{
    margin-left: 300px;
}

.textDiv{
    flex: 1;
    word-wrap: break-word;
}

#outputtext{
    position: relative;
}

#deletebin{
    position: absolute;
}